apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

components:
  - ../../../_common/nerdd-module

configMapGenerator:
  - name: app-config
    behavior: merge
    literals:
      - image=cyplebrity:latest
      - brokerUrl=kafka-cluster-kafka-bootstrap.local:9092
      - minReplicaCount=1
      - maxReplicaCount=1

patches:
  - target:
      kind: KafkaTopic
      name: cyplebrity-checkpoints
    path: patch-topic.yaml
