apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      kind: Ingress
      name: grafana
    path: patch-grafana-ingress.yaml
  - target:
      kind: IngressRoute
      name: prometheus
    path: patch-prometheus-ingressroute.yaml
  - target:
      kind: Role
      name: prometheus-k8s
      namespace: default
    path: patch-role.yaml
  - target:
      kind: RoleBinding
      name: prometheus-k8s
      namespace: default
    path: patch-rolebinding.yaml
