apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      kind: Deployment
      name: nerdd-backend
    path: patch-deployment.yaml
  - target:
      kind: Ingress
      name: nerdd-backend-ingress
    path: patch-ingress.yaml
