- op: replace
  path: /spec/replicas
  value: 1
- op: replace
  path: /spec/template/spec/containers/0/image
  value: nerdd-backend:latest
- op: replace
  path: /spec/template/spec/containers/0/args
  value:
    [
      "--config-name",
      "production",
      "++db.host=rethinkdb.local",
      "++db.port=28015",
      "++channel.broker_url=kafka-cluster-kafka-bootstrap.local:9092",
    ]
