apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

components:
  - ../../../_common/nerdd-module

configMapGenerator:
  - name: app-config
    behavior: merge
    literals:
      - image=ghcr.io/molinfo-vienna/skin-doctor-cp:latest
      - brokerUrl=kafka-cluster-kafka-bootstrap.dev:9092
