- op: replace
  path: /spec/template/spec/containers/0/image
  value: nerdd-serialize-jobs:latest
- op: replace
  path: /spec/template/spec/containers/0/env
  value:
    - name: KAFKA_BROKER_URL
      value: kafka-cluster-kafka-bootstrap.local:9092
