apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - kafka.yaml
  - node-pool.yaml
  - topic-jobs.yaml
  - topic-results.yaml
  - topic-system.yaml
  - topic-result-checkpoints.yaml
  - topic-serialization-requests.yaml
  - topic-serialization-results.yaml
  - topic-logs.yaml
  # connect kafka metrics with prometheus
  - pod-monitor.yaml
  - kafka-metrics-config.yaml
