apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
  - deployment.yaml
  - topic.yaml
  - scaler.yaml

replacements:
  - source:
      kind: ConfigMap
      name: app-config
      fieldPath: data.appName
    targets:
      - select:
          kind: Deployment
        fieldPaths:
          - metadata.name
          - spec.selector.matchLabels.app
          - spec.template.metadata.labels.app
          - spec.template.spec.containers.0.name
      - select:
          kind: ScaledObject
        fieldPaths:
          - metadata.name
          - spec.scaleTargetRef.name

  - source:
      kind: ConfigMap
      name: app-config
      fieldPath: data.image
    targets:
      - select:
          kind: Deployment
        fieldPaths:
          - spec.template.spec.containers.0.image

  - source:
      kind: ConfigMap
      name: app-config
      fieldPath: data.modelClass
    targets:
      - select:
          kind: Deployment
        fieldPaths:
          - spec.template.spec.containers.0.args.0

  - source:
      kind: ConfigMap
      name: app-config
      fieldPath: data.brokerUrl
    targets:
      - select:
          kind: Deployment
        fieldPaths:
          - spec.template.spec.containers.0.args.2
      - select:
          kind: ScaledObject
        fieldPaths:
          - spec.triggers.0.metadata.bootstrapServers

  - source:
      kind: ConfigMap
      name: app-config
      fieldPath: data.topic
    targets:
      - select:
          kind: KafkaTopic
        fieldPaths:
          - metadata.name
      - select:
          kind: ScaledObject
        fieldPaths:
          - spec.triggers.0.metadata.topic

  - source:
      kind: ConfigMap
      name: app-config
      fieldPath: data.consumerGroup
    targets:
      - select:
          kind: ScaledObject
        fieldPaths:
          - spec.triggers.0.metadata.consumerGroup

  - source:
      kind: ConfigMap
      name: app-config
      fieldPath: data.minReplicaCount
    targets:
      - select:
          kind: ScaledObject
        fieldPaths:
          - spec.minReplicaCount

  - source:
      kind: ConfigMap
      name: app-config
      fieldPath: data.maxReplicaCount
    targets:
      - select:
          kind: ScaledObject
        fieldPaths:
          - spec.maxReplicaCount

  - source:
      kind: ConfigMap
      name: app-config
      fieldPath: data.cpuRequest
    targets:
      - select:
          kind: Deployment
        fieldPaths:
          - spec.template.spec.containers.0.resources.requests.cpu

  - source:
      kind: ConfigMap
      name: app-config
      fieldPath: data.memRequest
    targets:
      - select:
          kind: Deployment
        fieldPaths:
          - spec.template.spec.containers.0.resources.requests.memory

  - source:
      kind: ConfigMap
      name: app-config
      fieldPath: data.cpuLimit
    targets:
      - select:
          kind: Deployment
        fieldPaths:
          - spec.template.spec.containers.0.resources.limits.cpu

  - source:
      kind: ConfigMap
      name: app-config
      fieldPath: data.memLimit
    targets:
      - select:
          kind: Deployment
        fieldPaths:
          - spec.template.spec.containers.0.resources.limits.memory
