- op: replace
  path: /spec/template/spec/containers/0/args
  value:
    [
      "--config-name",
      "production",
      "++db.host=rethinkdb.dev",
      "++db.port=28015",
      "++channel.broker_url=kafka-cluster-kafka-bootstrap.dev:9092",
    ]
