---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: prometheus-auth
spec:
  refreshInterval: 8760h # refresh once a year
  target:
    name: prometheus-auth
    template:
      type: Opaque
      data:
        # store in plain text so we can recover it on server side
        password: "{{ .password }}"
        apl.de.ap: "{{ .password | bcrypt }}"
  dataFrom:
    - sourceRef:
        generatorRef:
          apiVersion: generators.external-secrets.io/v1alpha1
          kind: Password
          name: prometheus-auth-generator
---
apiVersion: generators.external-secrets.io/v1alpha1
kind: Password
metadata:
  name: prometheus-auth-generator
spec:
  length: 25
