apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      kind: PersistentVolumeClaim
      name: rethinkdb-pvc
    path: patch-rethinkdb.yaml
  - target:
      kind: Deployment
      name: rethinkdb-deployment
    path: patch-deployment.yaml
  - target:
      kind: StatefulSet
      name: rethinkdb
    path: patch-statefulset.yaml
  - target:
      kind: Ingress
      name: rethinkdb-dashboard
    path: patch-ingress.yaml
  - target:
      kind: PersistentVolumeClaim
      name: rethinkdb-data-pvc
    path: patch-pvc.yaml
  - target:
      kind: CephBlockPool
      name: rethinkdb-pool
    path: patch-blockpool.yaml
