- op: replace
  path: /spec/replicas
  value: 1
- op: replace
  path: /spec/template/spec/containers/0/image
  value: nerdd-process-jobs:latest
- op: replace
  path: /spec/template/spec/containers/0/env
  value:
    - name: KAFKA_BROKER_URL
      value: kafka-cluster-kafka-bootstrap.local:9092
- op: remove
  path: /spec/template/spec/imagePullSecrets
