apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      kind: Ingress
      name: nerdd-frontend-ingress-https
    path: patch-ingress.yaml
  - target:
      kind: Deployment
      name: nerdd-frontend
    path: patch-deployment.yaml
